@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Poppins&display=swap');

*{
    --SnigletFont: 'Sniglet', cursive;
    --LobsterFont: 'Lobster', cursive;
    --RubikFont: 'Rubik', cursive;
    --PatuaFont: 'Patua One', cursive;
    --Poppins: 'Poppins';
    /*--header-bkg-gradient: linear-gradient(to right bottom, #151515, #2a2a2a);*/
    /*--main-bkg-gradient: linear-gradient(to right bottom, #2a2a2a, #111111);*/
    --col-main-black: #141414;
    --col-light-black: #2a2a2a;
    --col-light-gray-1: #a8a8a8;
    --col-light-gray-2: #bdbdbd;
    margin: 0;
    padding: 0;
}

body, html {
    margin-top: -10px;
}

header, main, footer {
    /*box-sizing: border-box;*/
    overflow-x: hidden;
    margin-top: 0;
}

/* For 404 page style*/
.empty-txt {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--PatuaFont);
}

.empty-txt .back-btn {
    max-width: 200px;
    margin-top: 20px;
    font-family: var(--RubikFont);
    background: brown;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.back-btn:hover{
    background: #1d1d1d;
    color: brown;
}